<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="text-muted"></p>
                <p class="text-muted">Data collected from <a href="https://github.com/openfootball/eng-england">OpenFootball</a>  <a href="https://github.com/footballcsv/eng-england">FootballCSV</a></p>
            </div>
            <div class="col-md-4">
                <p class="text-muted"></p>
                <p class="text-muted">Developed by Anderson Chen.</p>
            </div>
        </div>
    </div>
</footer>
    </body>
</html>