<% include header.ejs %>
    <% include navibar.ejs %>
<div id="myCarousel" class="carousel" data-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="/images/index_pic.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1>All you want to know about premier league.</h1>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">More Info</a></p>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->
<% include footer.ejs %>
