<% include header.ejs %>
    <% include navibar.ejs %>
<div id="myCarousel" class="carousel" data-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="/images/index_pic.jpg">
        </div>
    </div>
</div><!-- /.carousel -->
<% include footer.ejs %>
