<% include header.ejs %>
<% include navibar.ejs %>
<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Oops!</h1>
        <p>We can't understand your input.</p>
        <p>Please use date(YYYY-MM-DD) or team name as input.</p>
        <p><%=errormessage%></p>
        <p>
            <a class="btn btn-lg btn-primary" href="/" role="button">Go Back</a>
        </p>
    </div>

</div>

<% include footer.ejs %>